In [1]:
import pandas as pd

In [67]:
df = pd.read_csv('dulieukhaipha.csv')
print(df)

        MaSV           tenSV     namsinh                diachi  sodienthoai  \
0        1.0            John  2001-06-22  Long Thành, Đồng Nai  085976-5739
1        2.0            Mary  2004-07-21  Long Thành, Đồng Nai  087957-6728
2        3.0             Bob  2003-06-20  Long Thành, Đồng Nai  080965-8943
3        4.0           Alice  2003-11-04  Long Thành, Đồng Nai  087279-2710
4        5.0   Maxime Dubois  2003-04-07  Long Thành, Đồng Nai  086157-3947
...      ...             ...         ...                   ...          ...
3152  3152.0    Sofia Garcia  2001-08-22        Quận 7 , TPHCM  081553-1869
3153  3153.0     Emma Müller  2003-08-03        Quận 7 , TPHCM  081873-5101
3154  3154.0      Ali Hassan  2001-08-15        Quận 7 , TPHCM  080265-5839
3155  3155.0   Johanna Weber  2002-11-25        Quận 7 , TPHCM  088988-3574
3156  3156.0  Matteo Ferrari  2001-08-27        Quận 7 , TPHCM  084533-5893

              cmnd  kỳ một  kỳ hai  kỳ ba  kỳ bốn  Unnamed: 10
0     9.740276e+11       8       4      7       6          NaN
1     7.214428e+11       3       4      7       4          NaN
2     6.310526e+11       9       4      3       4          NaN
3     9.259986e+11       7       4      1       2          NaN
4     4.545215e+11       4       2      4       7          NaN
...            ...     ...     ...    ...     ...          ...
3152  6.251500e+11      10       5      2       3          NaN
3153  4.034484e+11       1       8      5       6          NaN
3154  4.694112e+11      10      10      8       4          NaN
3155  8.118747e+11       9       4      5       6          NaN
3156           NaN       4       8      2       1          NaN

[3157 rows x 11 columns]

In [65]:
#Loại bỏ dl rỗng
df = df.dropna()

In [22]:
# Loại bỏ các giá trị trùng lặp
df = df.drop_duplicates()

In [23]:
# Kiểm tra tính toàn vẹn của dữ liệu và sửa chữa các lỗi nếu có
if df.isnull().values.any():
    df = df.fillna(0)

In [68]:
# Hiển thị 5 dòng đầu tiên của dataframe
print(df.head(5))

   MaSV          tenSV     namsinh                diachi  sodienthoai  \
0   1.0           John  2001-06-22  Long Thành, Đồng Nai  085976-5739
1   2.0           Mary  2004-07-21  Long Thành, Đồng Nai  087957-6728
2   3.0            Bob  2003-06-20  Long Thành, Đồng Nai  080965-8943
3   4.0          Alice  2003-11-04  Long Thành, Đồng Nai  087279-2710
4   5.0  Maxime Dubois  2003-04-07  Long Thành, Đồng Nai  086157-3947

           cmnd  kỳ một  kỳ hai  kỳ ba  kỳ bốn  Unnamed: 10
0  9.740276e+11       8       4      7       6          NaN
1  7.214428e+11       3       4      7       4          NaN
2  6.310526e+11       9       4      3       4          NaN
3  9.259986e+11       7       4      1       2          NaN
4  4.545215e+11       4       2      4       7          NaN

In [26]:
#Xóa các dòng có giá trị thiếu:
df.dropna(inplace=True)

In [27]:
#Điền các giá trị thiếu với giá trị trung bình:
df.fillna(df.mean(), inplace=True)

In [70]:
#Xóa các ký tự đặc biệt:
df['sodienthoai2'] = df['sodienthoai'].str.replace('[^a-zA-Z0-9]', '')
df.drop('Unnamed: 10', axis=1, inplace=True)
print(df.head(5))

   MaSV          tenSV     namsinh                diachi  sodienthoai  \
0   1.0           John  2001-06-22  Long Thành, Đồng Nai  085976-5739
1   2.0           Mary  2004-07-21  Long Thành, Đồng Nai  087957-6728
2   3.0            Bob  2003-06-20  Long Thành, Đồng Nai  080965-8943
3   4.0          Alice  2003-11-04  Long Thành, Đồng Nai  087279-2710
4   5.0  Maxime Dubois  2003-04-07  Long Thành, Đồng Nai  086157-3947

           cmnd  kỳ một  kỳ hai  kỳ ba  kỳ bốn sodienthoai2
0  9.740276e+11       8       4      7       6   0859765739
1  7.214428e+11       3       4      7       4   0879576728
2  6.310526e+11       9       4      3       4   0809658943
3  9.259986e+11       7       4      1       2   0872792710
4  4.545215e+11       4       2      4       7   0861573947

<ipython-input-70-e07f04d39e4a>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['sodienthoai2'] = df['sodienthoai'].str.replace('[^a-zA-Z0-9]', '')

In [77]:
#Chuyển đổi kiểu dữ liệu:
df['cmnd2'] = df['cmnd'].astype('string')
print(df.head(5))

   MaSV          tenSV     namsinh                diachi  sodienthoai  \
0   1.0           John  2001-06-22  Long Thành, Đồng Nai  085976-5739
1   2.0           Mary  2004-07-21  Long Thành, Đồng Nai  087957-6728
2   3.0            Bob  2003-06-20  Long Thành, Đồng Nai  080965-8943
3   4.0          Alice  2003-11-04  Long Thành, Đồng Nai  087279-2710
4   5.0  Maxime Dubois  2003-04-07  Long Thành, Đồng Nai  086157-3947

           cmnd  kỳ một  kỳ hai  kỳ ba  kỳ bốn sodienthoai2           cmnd2
0  9.740276e+11       8       4      7       6   0859765739  974027562783.0
1  7.214428e+11       3       4      7       4   0879576728  721442797545.0
2  6.310526e+11       9       4      3       4   0809658943  631052578932.0
3  9.259986e+11       7       4      1       2   0872792710  925998635603.0
4  4.545215e+11       4       2      4       7   0861573947  454521465460.0

In [82]:
#xóa ký tự đặc biệt
df['cmnd3'] = df['cmnd2'].str.replace('[.0]', '')
#xóa 2 cột dữ cmnd và sodienthoai:
df = df.drop(['cmnd', 'sodienthoai'], axis=1)
print(df.head(5))

   MaSV          tenSV     namsinh                diachi  kỳ một  kỳ hai  \
0   1.0           John  2001-06-22  Long Thành, Đồng Nai       8       4
1   2.0           Mary  2004-07-21  Long Thành, Đồng Nai       3       4
2   3.0            Bob  2003-06-20  Long Thành, Đồng Nai       9       4
3   4.0          Alice  2003-11-04  Long Thành, Đồng Nai       7       4
4   5.0  Maxime Dubois  2003-04-07  Long Thành, Đồng Nai       4       2

   kỳ ba  kỳ bốn sodienthoai2         cmnd2         cmnd3
0      7       6   0859765739   97427562783   97427562783
1      7       4   0879576728  721442797545  721442797545
2      3       4   0809658943   63152578932   63152578932
3      1       2   0872792710   92599863563   92599863563
4      4       7   0861573947   45452146546   45452146546

<ipython-input-82-38d8d70c21f4>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['cmnd3'] = df['cmnd2'].str.replace('[.0]', '')

In [83]:
#gộp cmnd3 đổi thành cmnd 2 
df.drop('cmnd2', axis=1, inplace=True)
df = df.rename(columns={'cmnd3': 'cmnd2'})
print(df.head(5))

   MaSV          tenSV     namsinh                diachi  kỳ một  kỳ hai  \
0   1.0           John  2001-06-22  Long Thành, Đồng Nai       8       4
1   2.0           Mary  2004-07-21  Long Thành, Đồng Nai       3       4
2   3.0            Bob  2003-06-20  Long Thành, Đồng Nai       9       4
3   4.0          Alice  2003-11-04  Long Thành, Đồng Nai       7       4
4   5.0  Maxime Dubois  2003-04-07  Long Thành, Đồng Nai       4       2

   kỳ ba  kỳ bốn sodienthoai2         cmnd2
0      7       6   0859765739   97427562783
1      7       4   0879576728  721442797545
2      3       4   0809658943   63152578932
3      1       2   0872792710   92599863563
4      4       7   0861573947   45452146546

In [ ]:
#THU GIẢM DATA

In [85]:

#lấy ngẫu nhiên 50 dòng
sampled_df = df.sample(n=50) 
print(sampled_df)

        MaSV             tenSV     namsinh           diachi  kỳ một  kỳ hai  \
676    676.0       William Lee  2000-11-04   Gò Vấp , TPHCM       1       4
1527  1527.0         Amir Kaur  2002-09-28   Quận 9 , TPHCM       5       3
525    526.0    Isabella Rossi  2001-01-20   Gò Vấp , TPHCM       5       7
301    302.0       Sofia Lopez  2002-11-28   Gò Vấp , TPHCM       9       6
1789  1789.0        Ali Hassan  2001-09-30   Quận 9 , TPHCM       4       3
2465  2465.0        Ali Hassan  2004-09-19  Thủ Đức , TPHCM       6       8
1456  1456.0        Ali Hassan  2001-07-06   Quận 9 , TPHCM      10       8
2910  2910.0         Amir Kaur  2004-02-17   Quận 7 , TPHCM       5       2
2299  2299.0       William Lee  2000-11-27  Thủ Đức , TPHCM       7      10
1396  1396.0       William Lee  2004-02-26   Quận 9 , TPHCM       6       3
1505  1505.0         Sarah Kim  2004-03-08   Quận 9 , TPHCM       7       7
2753  2753.0       Emma Müller  2003-03-14  Thủ Đức , TPHCM       9       4
707    707.0       William Lee  2004-10-25   Gò Vấp , TPHCM       5       8
295    296.0       Anna Müller  2001-12-12   Gò Vấp , TPHCM       9       2
2394  2394.0         Amir Kaur  2000-11-07  Thủ Đức , TPHCM       5       5
244    245.0       Emma Müller  2001-07-09   Gò Vấp , TPHCM       5       5
2698  2698.0   Sofia Rodriguez  2001-08-19  Thủ Đức , TPHCM       6       6
1532  1532.0       Anna Müller  2001-07-26   Quận 9 , TPHCM       4       4
1725  1725.0      Sofia Garcia  2004-10-06   Quận 9 , TPHCM       7       6
1926  1926.0     Maxime Dubois  2004-06-15   Quận 9 , TPHCM       7       9
1753  1753.0    Ahmed Al-Sayed  2001-07-16   Quận 9 , TPHCM       2       1
1440  1440.0  Miguel Rodriguez  2003-05-10   Quận 9 , TPHCM       9       6
2982  2982.0      Lukas Becker  2004-04-18   Quận 7 , TPHCM       3       7
1599  1599.0       Anna Müller  2003-04-01   Quận 9 , TPHCM       9       2
1562  1562.0      Emma Johnson  2003-06-27   Quận 9 , TPHCM       6       6
3149  3149.0    Ahmed Al-Sayed  2001-04-07   Quận 7 , TPHCM       6       2
831    831.0    Matteo Ferrari  2004-02-02   Gò Vấp , TPHCM       8       6
1298  1298.0       Sofia Lopez  2003-08-24   Quận 9 , TPHCM       1       7
1575  1575.0  Alexander Müller  2004-05-11   Quận 9 , TPHCM       7       8
2798  2798.0    Ahmed Al-Sayed  2003-03-04   Quận 7 , TPHCM       9       8
949    949.0    Isabella Rossi  2004-04-23   Gò Vấp , TPHCM       4       7
2517  2517.0  Alexander Müller  2002-06-04  Thủ Đức , TPHCM       9       7
1365  1365.0       William Lee  2003-01-14   Quận 9 , TPHCM       4       8
3024  3024.0       Emma Müller  2001-02-17   Quận 7 , TPHCM       8       5
2339  2339.0      Emily Wilson  2002-06-02  Thủ Đức , TPHCM       3       3
1972  1972.0         Sarah Kim  2003-10-15   Quận 9 , TPHCM       2       4
2981  2981.0         Sarah Kim  2003-07-07   Quận 7 , TPHCM       6       7
1395  1395.0   Sofia Rodriguez  2004-07-23   Quận 9 , TPHCM       9       4
1159  1159.0   Johanna Schmidt  2001-04-21   Quận 9 , TPHCM       4       2
1892  1892.0         Lucas Kim  2003-06-19   Quận 9 , TPHCM       3       7
1984  1984.0       Emma Müller  2001-04-13   Quận 9 , TPHCM       7       7
2365  2365.0    Matteo Bianchi  2001-04-28  Thủ Đức , TPHCM       9      10
645    645.0   Maria Hernandez  2003-07-25   Gò Vấp , TPHCM       2       2
362    363.0      Lukas Becker  2004-07-29   Gò Vấp , TPHCM       8       3
2901  2901.0        Ali Hassan  2003-03-07   Quận 7 , TPHCM       8      10
315    316.0     Maxime Dubois  2002-08-04   Gò Vấp , TPHCM       2       3
1924  1924.0     Johanna Weber  2002-08-27   Quận 9 , TPHCM       6       3
1128  1128.0   Johanna Schmidt  2003-12-23   Quận 9 , TPHCM       7       4
1994  1994.0         Amir Kaur  2001-01-11   Quận 9 , TPHCM       1       6
133    134.0   Maria Hernandez  2004-01-01   Gò Vấp , TPHCM       7       6

      kỳ ba  kỳ bốn sodienthoai2         cmnd2
676       7       7   0850362367      32676745
1527      6       4   0804119650     648278418
525       7       5   0814449468   41196368535
301       5       8   0813016394  621656284339
1789      8       7   0880515026  515364824921
2465      9       3   0811973364  295826722959
1456      1       5   0805437577     289947433
2910      7       4   0855665820      55327328
2299      9       2   0821861826   76114856171
1396      7       7   0854917506    4392992693
1505      2       6   0836006899  393484578238
2753      3       2   0839734687    6591316287
707       4       6   0879618163  214834441396
295       5       3   0829863939  541883865758
2394      5       9   0861814513   41696153679
244       4       4   0827689661  977848674137
2698      3       6   0803669810   33994346732
1532      5       9   0838374192   64497713896
1725      9       9   0858216837   77352588897
1926     10       6   0897664516   21726782249
1753      9       8   0875728923  993698872175
1440      3       5   0876104753   89237131548
2982      4       2   0866350810     537297566
1599      8       4   0848168734   93581995434
1562      2       8   0893816648   36866864965
3149      8       7   0800232427    5797876448
831      10       8   0857685767  585825111599
1298      5       9   0832599951    5473754364
1575      1       8   0852747150  472731355677
2798      7       4   0816657707  589839214561
949       4       3   0868250496    9154191586
2517      3       2   0800992774  654489228627
1365      7       8   0804412972   58311738619
3024     10       5   0858020544  428224561136
2339      1       3   0833192196  953218776864
1972      9       4   0850764600   86612554746
2981      4       7   0891843127   81548278699
1395      2       8   0882127636  623467656975
1159      4       3   0874703248   55675295171
1892      2       3   0823367088  346793316298
1984      5       6   0801346100   81227674266
2365      9       7   0899412690   61415528722
645       4       9   0828824383   68867575332
362       3       9   0882963513  586615975767
2901      8       9   0867193751  414352681329
315       1       6   0871055257   74484273682
1924      2       6   0891320850    5412516186
1128      2       9   0880518106   83548788223
1994      1       1   0865636185   42431679376
133       8       9   0842666550   28994193264

In [86]:
#Sử dụng thuật toán Random Forest Regressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [104]:
print(df)

        MaSV           tenSV     namsinh                diachi  kỳ một  \
0        1.0            John  2001-06-22  Long Thành, Đồng Nai       8
1        2.0            Mary  2004-07-21  Long Thành, Đồng Nai       3
2        3.0             Bob  2003-06-20  Long Thành, Đồng Nai       9
3        4.0           Alice  2003-11-04  Long Thành, Đồng Nai       7
4        5.0   Maxime Dubois  2003-04-07  Long Thành, Đồng Nai       4
...      ...             ...         ...                   ...     ...
3152  3152.0    Sofia Garcia  2001-08-22        Quận 7 , TPHCM      10
3153  3153.0     Emma Müller  2003-08-03        Quận 7 , TPHCM       1
3154  3154.0      Ali Hassan  2001-08-15        Quận 7 , TPHCM      10
3155  3155.0   Johanna Weber  2002-11-25        Quận 7 , TPHCM       9
3156  3156.0  Matteo Ferrari  2001-08-27        Quận 7 , TPHCM       4

      kỳ hai  kỳ ba  kỳ bốn sodienthoai2         cmnd2
0          4      7       6   0859765739   97427562783
1          4      7       4   0879576728  721442797545
2          4      3       4   0809658943   63152578932
3          4      1       2   0872792710   92599863563
4          2      4       7   0861573947   45452146546
...      ...    ...     ...          ...           ...
3152       5      2       3   0815531869    6251539512
3153       8      5       6   0818735101   43448366253
3154      10      8       4   0802655839  469411159427
3155       4      5       6   0889883574   81187474773
3156       8      2       1   0845335893          <NA>

[3157 rows x 10 columns]

In [150]:
#xóa các cột không liên quan thu gọn dữ liệu:

df.drop('cmnd2', axis=1, inplace=True)
df.drop('tenSV', axis=1, inplace=True)
print(df)

      kỳ một  kỳ hai  kỳ ba  kỳ bốn
0          8       4      7       6
1          3       4      7       4
2          9       4      3       4
3          7       4      1       2
4          4       2      4       7
...      ...     ...    ...     ...
3152      10       5      2       3
3153       1       8      5       6
3154      10      10      8       4
3155       9       4      5       6
3156       4       8      2       1

[3157 rows x 4 columns]

In [151]:
#tạo cột kì 5 để làm y(nhãn để dự đoán kỳ sao):
df['kỳ năm'] = df['kỳ bốn'].astype('float')
print(df.head(5))

   kỳ một  kỳ hai  kỳ ba  kỳ bốn  kỳ năm
0       8       4      7       6     6.0
1       3       4      7       4     4.0
2       9       4      3       4     4.0
3       7       4      1       2     2.0
4       4       2      4       7     7.0

In [152]:
# tách dữ liệu thành X và y
X = df.iloc[:, :-1]
y = df.iloc[:, -1]
print(X)

      kỳ một  kỳ hai  kỳ ba  kỳ bốn
0          8       4      7       6
1          3       4      7       4
2          9       4      3       4
3          7       4      1       2
4          4       2      4       7
...      ...     ...    ...     ...
3152      10       5      2       3
3153       1       8      5       6
3154      10      10      8       4
3155       9       4      5       6
3156       4       8      2       1

[3157 rows x 4 columns]

In [153]:
print(y)

0       6.0
1       4.0
2       4.0
3       2.0
4       7.0
       ...
3152    3.0
3153    6.0
3154    4.0
3155    6.0
3156    1.0
Name: kỳ năm, Length: 3157, dtype: float64

In [154]:
# tách dữ liệu thành tập huấn luyện và tập kiểm tra
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [157]:
print(y_train)

678     4.0
2665    4.0
1730    9.0
1737    7.0
2850    3.0
       ...
3092    2.0
1095    7.0
1130    9.0
1294    7.0
860     2.0
Name: kỳ năm, Length: 2525, dtype: float64

In [155]:
# khởi tạo mô hình Random Forest Regressor
rf = RandomForestRegressor(n_estimators=100, random_state=42)

In [156]:
# huấn luyện mô hình trên tập huấn luyện
rf.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

In [159]:
# đánh giá mô hình trên tập kiểm tra
y_pred = rf.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
print('Mean squared error:', mse)
print('Mean absolute error:', mae)

Mean squared error: 0.0
Mean absolute error: 0.0

In [178]:
# dự đoán kết quả học tập kì sau
new_data = [[9,8,9,6]] # kết quả học tập của các kì trước
new_pred = rf.predict(new_data)

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

In [179]:
print('Predicted score:', new_pred)

Predicted score: [6.]

In [195]:
#Tối ưu băng cách nhập dữ liệu từ bàn phím:
while True:
  k1 = int(input('nhap diem ki 1 (nhap 0 de dung): '))
  if k1<=0:
    break
  k2 = int(input('nhap diem ki 2 (nhap 0 de dung): '))
  k3 = int(input('nhap diem ki 3 (nhap 0 de dung): '))
  k4 = int(input('nhap diem ki 4 (nhap 0 de dung): '))
 
  new_data = [[float(k1),float(k2),float(k3),float(k4)]] # kết quả học tập của các kì trước
  new_pred = rf.predict(new_data)
  if int(new_pred)>5 &int(new_pred)<=7:
    kq="Trung bình"
  elif int(new_pred)>7 & int(new_pred)<=8.5:
    kq="Khá"
  else: kq="Yếu"
  print('neu diem ki 1 2 3 4 lan luot la ',k1,k2,k3,k4,' thi diem ki sau la: ', float(new_pred), "Loại",kq)

nhap diem ki 1 (nhap 0 de dung): 7
nhap diem ki 2 (nhap 0 de dung): 8
nhap diem ki 3 (nhap 0 de dung): 7
nhap diem ki 4 (nhap 0 de dung): 6

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

neu diem ki 1 2 3 4 lan luot la  7 8 7 6  thi diem ki sau la:  6.0 Loại Trung bình
nhap diem ki 1 (nhap 0 de dung): 0

In [ ]:
()