In [2]:
import pandas as pd

In [13]:
df = pd.read_csv('dulieukhaipha.csv')
print(df)

        MaSV           tenSV     namsinh                diachi  sodienthoai  \
0        1.0            John  2001-06-22  Long Thành, Đồng Nai  085976-5739
1        2.0            Mary  2004-07-21  Long Thành, Đồng Nai  087957-6728
2        3.0             Bob  2003-06-20  Long Thành, Đồng Nai  080965-8943
3        4.0           Alice  2003-11-04  Long Thành, Đồng Nai  087279-2710
4        5.0   Maxime Dubois  2003-04-07  Long Thành, Đồng Nai  086157-3947
...      ...             ...         ...                   ...          ...
3152  3152.0    Sofia Garcia  2001-08-22        Quận 7 , TPHCM  081553-1869
3153  3153.0     Emma Müller  2003-08-03        Quận 7 , TPHCM  081873-5101
3154  3154.0      Ali Hassan  2001-08-15        Quận 7 , TPHCM  080265-5839
3155  3155.0   Johanna Weber  2002-11-25        Quận 7 , TPHCM  088988-3574
3156  3156.0  Matteo Ferrari  2001-08-27        Quận 7 , TPHCM  084533-5893

              cmnd  kỳ một  kỳ hai  kỳ ba  kỳ bốn  Unnamed: 10
0     9.740276e+11       8       4      7       6          NaN
1     7.214428e+11       3       4      7       4          NaN
2     6.310526e+11       9       4      3       4          NaN
3     9.259986e+11       7       4      1       2          NaN
4     4.545215e+11       4       2      4       7          NaN
...            ...     ...     ...    ...     ...          ...
3152  6.251500e+11      10       5      2       3          NaN
3153  4.034484e+11       1       8      5       6          NaN
3154  4.694112e+11      10      10      8       4          NaN
3155  8.118747e+11       9       4      5       6          NaN
3156           NaN       4       8      2       1          NaN

[3157 rows x 11 columns]

In [4]:
#Loại bỏ dl rỗng
df = df.dropna()

In [5]:
# Loại bỏ các giá trị trùng lặp
df = df.drop_duplicates()

In [6]:
# Kiểm tra tính toàn vẹn của dữ liệu và sửa chữa các lỗi nếu có
if df.isnull().values.any():
    df = df.fillna(0)

In [9]:
# Hiển thị 5 dòng đầu tiên của dataframe
print(df.head(5))

   MaSV          tenSV     namsinh                diachi  sodienthoai  \
0   1.0           John  2001-06-22  Long Thành, Đồng Nai  085976-5739
1   2.0           Mary  2004-07-21  Long Thành, Đồng Nai  087957-6728
2   3.0            Bob  2003-06-20  Long Thành, Đồng Nai  080965-8943
3   4.0          Alice  2003-11-04  Long Thành, Đồng Nai  087279-2710
4   5.0  Maxime Dubois  2003-04-07  Long Thành, Đồng Nai  086157-3947

           cmnd  kỳ một  kỳ hai  kỳ ba  kỳ bốn  Unnamed: 10
0  9.740276e+11       8       4      7       6          NaN
1  7.214428e+11       3       4      7       4          NaN
2  6.310526e+11       9       4      3       4          NaN
3  9.259986e+11       7       4      1       2          NaN
4  4.545215e+11       4       2      4       7          NaN

In [10]:
#Xóa các dòng có giá trị thiếu:
df.dropna(inplace=True)

In [11]:
#Điền các giá trị thiếu với giá trị trung bình:
df.fillna(df.mean(), inplace=True)

In [14]:
#Xóa các ký tự đặc biệt:
df['sodienthoai2'] = df['sodienthoai'].str.replace('[^a-zA-Z0-9]', '')
df.drop('Unnamed: 10', axis=1, inplace=True)
print(df.head(5))

   MaSV          tenSV     namsinh                diachi  sodienthoai  \
0   1.0           John  2001-06-22  Long Thành, Đồng Nai  085976-5739
1   2.0           Mary  2004-07-21  Long Thành, Đồng Nai  087957-6728
2   3.0            Bob  2003-06-20  Long Thành, Đồng Nai  080965-8943
3   4.0          Alice  2003-11-04  Long Thành, Đồng Nai  087279-2710
4   5.0  Maxime Dubois  2003-04-07  Long Thành, Đồng Nai  086157-3947

           cmnd  kỳ một  kỳ hai  kỳ ba  kỳ bốn sodienthoai2
0  9.740276e+11       8       4      7       6   0859765739
1  7.214428e+11       3       4      7       4   0879576728
2  6.310526e+11       9       4      3       4   0809658943
3  9.259986e+11       7       4      1       2   0872792710
4  4.545215e+11       4       2      4       7   0861573947

<ipython-input-14-e07f04d39e4a>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['sodienthoai2'] = df['sodienthoai'].str.replace('[^a-zA-Z0-9]', '')

In [15]:
#Chuyển đổi kiểu dữ liệu:
df['cmnd2'] = df['cmnd'].astype('string')
print(df.head(5))

   MaSV          tenSV     namsinh                diachi  sodienthoai  \
0   1.0           John  2001-06-22  Long Thành, Đồng Nai  085976-5739
1   2.0           Mary  2004-07-21  Long Thành, Đồng Nai  087957-6728
2   3.0            Bob  2003-06-20  Long Thành, Đồng Nai  080965-8943
3   4.0          Alice  2003-11-04  Long Thành, Đồng Nai  087279-2710
4   5.0  Maxime Dubois  2003-04-07  Long Thành, Đồng Nai  086157-3947

           cmnd  kỳ một  kỳ hai  kỳ ba  kỳ bốn sodienthoai2           cmnd2
0  9.740276e+11       8       4      7       6   0859765739  974027562783.0
1  7.214428e+11       3       4      7       4   0879576728  721442797545.0
2  6.310526e+11       9       4      3       4   0809658943  631052578932.0
3  9.259986e+11       7       4      1       2   0872792710  925998635603.0
4  4.545215e+11       4       2      4       7   0861573947  454521465460.0

In [16]:
#xóa ký tự đặc biệt
df['cmnd3'] = df['cmnd2'].str.replace('[.0]', '')
#xóa 2 cột dữ cmnd và sodienthoai:
df = df.drop(['cmnd', 'sodienthoai'], axis=1)
print(df.head(5))

   MaSV          tenSV     namsinh                diachi  kỳ một  kỳ hai  \
0   1.0           John  2001-06-22  Long Thành, Đồng Nai       8       4
1   2.0           Mary  2004-07-21  Long Thành, Đồng Nai       3       4
2   3.0            Bob  2003-06-20  Long Thành, Đồng Nai       9       4
3   4.0          Alice  2003-11-04  Long Thành, Đồng Nai       7       4
4   5.0  Maxime Dubois  2003-04-07  Long Thành, Đồng Nai       4       2

   kỳ ba  kỳ bốn sodienthoai2           cmnd2         cmnd3
0      7       6   0859765739  974027562783.0   97427562783
1      7       4   0879576728  721442797545.0  721442797545
2      3       4   0809658943  631052578932.0   63152578932
3      1       2   0872792710  925998635603.0   92599863563
4      4       7   0861573947  454521465460.0   45452146546

<ipython-input-16-e6b7f71e7ec4>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['cmnd3'] = df['cmnd2'].str.replace('[.0]', '')

In [17]:
#gộp cmnd3 đổi thành cmnd 2 
df.drop('cmnd2', axis=1, inplace=True)
df = df.rename(columns={'cmnd3': 'cmnd2'})
print(df.head(5))

   MaSV          tenSV     namsinh                diachi  kỳ một  kỳ hai  \
0   1.0           John  2001-06-22  Long Thành, Đồng Nai       8       4
1   2.0           Mary  2004-07-21  Long Thành, Đồng Nai       3       4
2   3.0            Bob  2003-06-20  Long Thành, Đồng Nai       9       4
3   4.0          Alice  2003-11-04  Long Thành, Đồng Nai       7       4
4   5.0  Maxime Dubois  2003-04-07  Long Thành, Đồng Nai       4       2

   kỳ ba  kỳ bốn sodienthoai2         cmnd2
0      7       6   0859765739   97427562783
1      7       4   0879576728  721442797545
2      3       4   0809658943   63152578932
3      1       2   0872792710   92599863563
4      4       7   0861573947   45452146546

In [ ]:
#THU GIẢM DATA

In [18]:

#lấy ngẫu nhiên 50 dòng
sampled_df = df.sample(n=50) 
print(sampled_df)

        MaSV             tenSV     namsinh                diachi  kỳ một  \
13      14.0   Maria Hernandez  2004-03-18  Long Thành, Đồng Nai       7
1167  1167.0         Sarah Kim  2003-11-03        Quận 9 , TPHCM       8
1757  1757.0       Emma Müller  2002-04-28        Quận 9 , TPHCM       2
2772  2772.0         Sarah Kim  2003-01-29        Quận 7 , TPHCM       7
1691  1691.0    Ahmed Al-Sayed  2002-05-31        Quận 9 , TPHCM       1
2065  2065.0        Ali Hassan  2002-03-18       Thủ Đức , TPHCM       7
2087  2087.0    Isabella Rossi  2000-11-16       Thủ Đức , TPHCM       3
1028  1028.0      Emma Johnson  2001-09-20        Gò Vấp , TPHCM       2
609    609.0       William Lee  2001-07-08        Gò Vấp , TPHCM       3
1578  1578.0         Leila Ali  2003-02-25        Quận 9 , TPHCM       5
434    435.0         Leila Ali  2004-01-17        Gò Vấp , TPHCM       9
2720  2720.0      Lucas Martin  2004-11-21       Thủ Đức , TPHCM       6
276    277.0        Ali Hassan  2003-04-06        Gò Vấp , TPHCM       9
2426  2426.0        Liam Brown  2001-05-05       Thủ Đức , TPHCM       9
1106  1106.0      Lukas Becker  2003-08-08        Quận 9 , TPHCM       3
678    678.0         Amir Kaur  2002-09-09        Gò Vấp , TPHCM       8
222    223.0      Emma Johnson  2001-12-18        Gò Vấp , TPHCM       4
1765  1765.0       William Lee  2001-06-05        Quận 9 , TPHCM       7
1839  1839.0       Anna Müller  2003-04-26        Quận 9 , TPHCM       9
1293  1293.0  Miguel Rodriguez  2001-02-20        Quận 9 , TPHCM       3
1419  1419.0       Emma Müller  2004-01-03        Quận 9 , TPHCM       7
767    767.0         Lucas Kim  2003-07-16        Gò Vấp , TPHCM       6
2555  2555.0        Liam Brown  2004-08-01       Thủ Đức , TPHCM       2
2741  2741.0         Sarah Kim  2003-10-11       Thủ Đức , TPHCM       7
2414  2414.0      Sofia Garcia  2004-04-12       Thủ Đức , TPHCM       8
2929  2929.0      Lucas Martin  2004-08-08        Quận 7 , TPHCM       7
1428  1428.0     Maxime Dubois  2003-05-31        Quận 9 , TPHCM       8
482    483.0   Johanna Schmidt  2001-12-10        Gò Vấp , TPHCM      10
2139  2139.0   Maria Hernandez  2003-04-20       Thủ Đức , TPHCM       4
2017  2017.0     Johanna Weber  2002-02-18       Thủ Đức , TPHCM       5
1568  1568.0       Anna Müller  2002-11-28        Quận 9 , TPHCM       7
551    551.0    Matteo Bianchi  2004-08-15        Gò Vấp , TPHCM       4
3083  3083.0    Isabella Rossi  2003-11-26        Quận 7 , TPHCM       6
3119  3119.0   María Fernández  2002-08-27        Quận 7 , TPHCM       4
2049  2049.0    Matteo Ferrari  2003-11-06       Thủ Đức , TPHCM       5
1016  1016.0   María Fernández  2003-11-27        Gò Vấp , TPHCM       6
1465  1465.0         Amir Kaur  2002-02-18        Quận 9 , TPHCM       6
2188  2188.0    Chiara Bianchi  2000-12-14       Thủ Đức , TPHCM       5
626    626.0         Leila Ali  2001-02-14        Gò Vấp , TPHCM       9
342    343.0       Emma Müller  2004-01-16        Gò Vấp , TPHCM       5
577    577.0   Sofia Rodriguez  2003-04-29        Gò Vấp , TPHCM       4
1401  1401.0   Maria Hernandez  2004-01-27        Quận 9 , TPHCM       9
2932  2932.0        Ali Hassan  2002-02-09        Quận 7 , TPHCM       2
1613  1613.0      Lucas Martin  2002-03-12        Quận 9 , TPHCM       6
2200  2200.0   Sofia Rodriguez  2004-06-14       Thủ Đức , TPHCM       2
885    885.0    Chiara Bianchi  2004-07-15        Gò Vấp , TPHCM       4
1296  1296.0         Sarah Kim  2004-10-03        Quận 9 , TPHCM       9
519    520.0      Emily Wilson  2004-11-02        Gò Vấp , TPHCM       9
675    675.0   Sofia Rodriguez  2001-03-23        Gò Vấp , TPHCM       3
1984  1984.0       Emma Müller  2001-04-13        Quận 9 , TPHCM       7

      kỳ hai  kỳ ba  kỳ bốn sodienthoai2         cmnd2
13         7      4       5   0896776982   34531491235
1167       2      4       5   0846118578    7247841685
1757       7     10       5   0847978167   16129923554
2772       3      4       7   0875347965   78845519342
1691       2      8       9   0897811126   92662973647
2065       4      9       8   0838904521   62912393875
2087       5      4       4   0862183234    1528632536
1028       8      1       9   0817844188  198851876687
609        7      6       4   0869311535    5472355229
1578      10      6       5   0804082598  462874891381
434        5     10      10   0885608026  183827448538
2720       9      2       6   0860600003      19636162
276        9      8       2   0868505568   22622428385
2426       1      2       2   0805500135    9584822132
1106       8      3       5   0887391545     337128698
678        8      9       4   0822085075  276556533143
222        4      8       5   0817419456   34259164515
1765       8      7      10   0869438132  691915563283
1839       2      3       9   0877629380   51197864853
1293       6      6       3   0857554576  262452332568
1419       7      9       7   0868965648   73837514526
767        5      5       2   0846745344     352915344
2555       7      1       7   0873755143   97433691291
2741       3      1       1   0829153898    9541423857
2414       3      9      10   0865799012  943276226875
2929       1      7       1   0827813779   47535365923
1428       3      5       8   0809461639  185589873568
482       10      3       2   0872723429   97249891516
2139       5      5       2   0809017844       2346564
2017       7      4       1   0868664177     372997474
1568       7      1       1   0896568512   53744243278
551       10      8       1   0867872205     837575112
3083       6      8       2   0843734456  419564665253
3119       8     10       2   0899206346  194577147317
2049       7      6       5   0890689699   85964776521
1016       4      9       4   0888212800  324425545616
1465       7      8       7   0807453563   15823519441
2188       9      9       7   0898412847   47637715467
626        8      2       6   0886172920  658297886875
342        6      9       8   0898015011     824698589
577        3      2       6   0856355118  956867921956
1401       5      5       2   0894480765   99755776248
2932       9      7       4   0881809741   88589675621
1613       4      3       9   0884319843  135568155676
2200       7      6       1   0830460469    2971598454
885        8      3       7   0833244964   86962798819
1296       1      8       6   0856107831   45366499614
519        7      3       2   0864368585   53831215845
675        8      4       6   0867162470     372442172
1984       7      5       6   0801346100   81227674266

In [19]:
#Sử dụng thuật toán Random Forest Regressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [20]:
print(df)

        MaSV           tenSV     namsinh                diachi  kỳ một  \
0        1.0            John  2001-06-22  Long Thành, Đồng Nai       8
1        2.0            Mary  2004-07-21  Long Thành, Đồng Nai       3
2        3.0             Bob  2003-06-20  Long Thành, Đồng Nai       9
3        4.0           Alice  2003-11-04  Long Thành, Đồng Nai       7
4        5.0   Maxime Dubois  2003-04-07  Long Thành, Đồng Nai       4
...      ...             ...         ...                   ...     ...
3152  3152.0    Sofia Garcia  2001-08-22        Quận 7 , TPHCM      10
3153  3153.0     Emma Müller  2003-08-03        Quận 7 , TPHCM       1
3154  3154.0      Ali Hassan  2001-08-15        Quận 7 , TPHCM      10
3155  3155.0   Johanna Weber  2002-11-25        Quận 7 , TPHCM       9
3156  3156.0  Matteo Ferrari  2001-08-27        Quận 7 , TPHCM       4

      kỳ hai  kỳ ba  kỳ bốn sodienthoai2         cmnd2
0          4      7       6   0859765739   97427562783
1          4      7       4   0879576728  721442797545
2          4      3       4   0809658943   63152578932
3          4      1       2   0872792710   92599863563
4          2      4       7   0861573947   45452146546
...      ...    ...     ...          ...           ...
3152       5      2       3   0815531869    6251539512
3153       8      5       6   0818735101   43448366253
3154      10      8       4   0802655839  469411159427
3155       4      5       6   0889883574   81187474773
3156       8      2       1   0845335893          <NA>

[3157 rows x 10 columns]

In [26]:
#xóa các cột không liên quan thu gọn dữ liệu:

df.drop('cmnd2', axis=1, inplace=True)

print(df)

      kỳ một  kỳ hai  kỳ ba  kỳ bốn
0          8       4      7       6
1          3       4      7       4
2          9       4      3       4
3          7       4      1       2
4          4       2      4       7
...      ...     ...    ...     ...
3152      10       5      2       3
3153       1       8      5       6
3154      10      10      8       4
3155       9       4      5       6
3156       4       8      2       1

[3157 rows x 4 columns]

In [27]:
#tạo cột kì 5 để làm y(nhãn để dự đoán kỳ sao):
df['kỳ năm'] = df['kỳ bốn'].astype('float')
print(df.head(5))

   kỳ một  kỳ hai  kỳ ba  kỳ bốn  kỳ năm
0       8       4      7       6     6.0
1       3       4      7       4     4.0
2       9       4      3       4     4.0
3       7       4      1       2     2.0
4       4       2      4       7     7.0

In [28]:
# tách dữ liệu thành X và y
X = df.iloc[:, :-1]
y = df.iloc[:, -1]
print(X)

      kỳ một  kỳ hai  kỳ ba  kỳ bốn
0          8       4      7       6
1          3       4      7       4
2          9       4      3       4
3          7       4      1       2
4          4       2      4       7
...      ...     ...    ...     ...
3152      10       5      2       3
3153       1       8      5       6
3154      10      10      8       4
3155       9       4      5       6
3156       4       8      2       1

[3157 rows x 4 columns]

In [29]:
print(y)

0       6.0
1       4.0
2       4.0
3       2.0
4       7.0
       ...
3152    3.0
3153    6.0
3154    4.0
3155    6.0
3156    1.0
Name: kỳ năm, Length: 3157, dtype: float64

In [30]:
# tách dữ liệu thành tập huấn luyện và tập kiểm tra
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [31]:
print(y_train)

678     4.0
2665    4.0
1730    9.0
1737    7.0
2850    3.0
       ...
3092    2.0
1095    7.0
1130    9.0
1294    7.0
860     2.0
Name: kỳ năm, Length: 2525, dtype: float64

In [32]:
# khởi tạo mô hình Random Forest Regressor
rf = RandomForestRegressor(n_estimators=100, random_state=42)

In [33]:
# huấn luyện mô hình trên tập huấn luyện
rf.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

In [34]:
# đánh giá mô hình trên tập kiểm tra
y_pred = rf.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
print('Mean squared error:', mse)
print('Mean absolute error:', mae)

Mean squared error: 0.0
Mean absolute error: 0.0

In [35]:
# dự đoán kết quả học tập kì sau
new_data = [[9,8,9,6]] # kết quả học tập của các kì trước
new_pred = rf.predict(new_data)

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

In [36]:
print('Predicted score:', new_pred)

Predicted score: [6.]

In [45]:
#Tối ưu băng cách nhập dữ liệu từ bàn phím:
while True:
  k1 = int(input('nhap diem ki 1 (nhap 0 de dung): '))
  if k1<=0:
    break
  k2 = int(input('nhap diem ki 2 (nhap 0 de dung): '))
  k3 = int(input('nhap diem ki 3 (nhap 0 de dung): '))
  k4 = int(input('nhap diem ki 4 (nhap 0 de dung): '))
 
  new_data = [[float(k1),float(k2),float(k3),float(k4)]] # kết quả học tập của các kì trước
  new_pred = rf.predict(new_data)
  if int(new_pred)>5 and int(new_pred)<=7:
    kq="Trung bình"
  elif int(new_pred)>7 and int(new_pred)<=8.5:
    kq="Khá"
  elif int(new_pred)>8.5:
    kq="Giỏi"
  else: kq="Yếu"
  print('neu diem ki 1 2 3 4 lan luot la ',k1,k2,k3,k4,' thi diem ki sau la: ', float(new_pred), "Loại",kq)

nhap diem ki 1 (nhap 0 de dung): 0

In [46]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [48]:
#sử dụng lại dữ liệu đã làm sạch và thu gọn
df.drop('kỳ năm', axis=1, inplace=True)
print(df)

      kỳ một  kỳ hai  kỳ ba  kỳ bốn
0          8       4      7       6
1          3       4      7       4
2          9       4      3       4
3          7       4      1       2
4          4       2      4       7
...      ...     ...    ...     ...
3152      10       5      2       3
3153       1       8      5       6
3154      10      10      8       4
3155       9       4      5       6
3156       4       8      2       1

[3157 rows x 4 columns]

In [50]:
# Chọn các đặc trưng đầu vào và nhãn
features = df[['kỳ một', 'kỳ hai', 'kỳ ba','kỳ bốn']].values
labels = df['kỳ một'].values

In [51]:
# Chia tập dữ liệu thành tập huấn luyện và tập kiểm tra
X_train, X_test, y_train, y_test = train_test_split(features, labels, test_size=0.2)

In [54]:
print(X_train)

[[ 6  7  3  8]
 [ 9 10  4  4]
 [ 3  6  4  2]
 ...
 [ 7  7  9  6]
 [ 6  7  9  8]
 [ 5  9  8 10]]

In [58]:
print(X_test)

[[ 9 10  9  7]
 [ 5  9  7  2]
 [ 5  4  7  7]
 ...
 [ 8  4  2  5]
 [ 9  7  5  1]
 [ 6  4  8  8]]

In [59]:
print(y_test)

[ 9  5  5  3  4  7 10  2  7  2  7  4  3  9  3  6  8 10  2 10 10  5  8  5
 10  9  8  8  7  1  5  5  1  9  3  7  9  1  4  2  2  3  4  7 10  6  9  3
  2  5 10  8  6  8  5  2  8  3  6  9  3  9  5  6  2  1  9  6  4  9  5  2
  9  4  2 10  2  9  6  8  9  2  5  6  6  4  6  5  2  1  9  9  2  9  8  1
 10 10 10  7  1  9  4 10  2  2  7  4  5  9  2  2  7  9  9  7  7  2  5  6
  8  9  7  5  6  7  8  4  4  9  1  2 10  6  5  9  2  3  5 10 10  2  5  2
  3  6  4  6  9  1  9  8  4  7  8  5  5  4  5  1  1  9  9  9  6 10  7  5
  4  3  8  8  9  7  8  7  9  8  9  6 10  6  3  2  2  7  3  6  4  6  8  3
  1  1  9  6  4  4  1  1  7  8  7  4  9  3  2  8  3 10  1  2  7  9  3  3
  5  4  3  2  5  6 10  2 10  1  9  3  6 10  9  8  9  9  7  2  3  9  3  4
  5  7  6  4  7  2  6  2  3  8 10  8  7  8  5  6  7  9  5  5  1  7  8  1
 10  2  3  3  5  7  9  6  5  4  7  8  3  3  4  5  4  3  4  8  2  8  3  3
  2  3  8  3  5  9  6  1  8  5  4  4  8  4  9  3  1  6  6  6  8  8  8  2
  7  3  9  3  9  9  6  4  9  2  3  2  3  5  9  2  8  6  2  9  5  7  9  4
  3  2  5  4  3  4  6  2  7  4  8  6  5  5 10  2  4  3  1  7  2 10  3 10
 10  5  2  5  6  6  1  4  4  7  7  8  8  4  3  9  4  5  8 10  3  2  5  2
  2  4  4  6  1  2  7  8  3  6  9  7  4  4  8  1  6  5  8 10  5  8  7  6
  8  8  7  8  6  4  5  9  6  4  8  1  3  9  6  5  7  8  7  4  3  6 10  9
  7  5  4 10  2  7  5  5  6  2  6  9  6  4  1  8  7  3  2  4  8  7  1  5
  5 10  9  7  7 10  8  9  5  8  4  1  1  8  8  9  3  2  2  5  3  6  5  5
  4  8  2  3  1  3  7  6 10  6  4  4  2  6  8  7  5  5  4  8  3  4  3  3
  2  2  6  8  7  3  7  2 10  4  4  6 10  8  7  9  9  8  1  9  6  8  5  6
  5  4  1  9  8  2  2 10  5  2  4  9 10  3  4  4  2 10  6  2  8  6  7  1
  7  9  2  2  7  3  7  6  2  5  4  5  4  8  3  1  8  7  6  3  2  9  7  7
  4  1  9  9  2  9  5  9  8  9  6  8 10  7  5  5 10  8  6  8  2  5  5  7
  9 10  2  9  9  2  5  7  3  7  2  6  9  1  9  9  3  1  7  3  7  7  9  2
  6  6 10  4  9  8  9  6]

In [53]:
print(y_train)

[6 9 3 ... 7 6 5]

In [55]:
# Xây dựng mô hình Linear Regression
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [56]:
# Dự đoán kết quả và đánh giá mô hình
y_pred = lr.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print('MSE:', mse)

MSE: 2.4200211769047674e-29

In [57]:
#Dự đoán kỳ 5
print(y_pred)

[ 9.  5.  5.  3.  4.  7. 10.  2.  7.  2.  7.  4.  3.  9.  3.  6.  8. 10.
  2. 10. 10.  5.  8.  5. 10.  9.  8.  8.  7.  1.  5.  5.  1.  9.  3.  7.
  9.  1.  4.  2.  2.  3.  4.  7. 10.  6.  9.  3.  2.  5. 10.  8.  6.  8.
  5.  2.  8.  3.  6.  9.  3.  9.  5.  6.  2.  1.  9.  6.  4.  9.  5.  2.
  9.  4.  2. 10.  2.  9.  6.  8.  9.  2.  5.  6.  6.  4.  6.  5.  2.  1.
  9.  9.  2.  9.  8.  1. 10. 10. 10.  7.  1.  9.  4. 10.  2.  2.  7.  4.
  5.  9.  2.  2.  7.  9.  9.  7.  7.  2.  5.  6.  8.  9.  7.  5.  6.  7.
  8.  4.  4.  9.  1.  2. 10.  6.  5.  9.  2.  3.  5. 10. 10.  2.  5.  2.
  3.  6.  4.  6.  9.  1.  9.  8.  4.  7.  8.  5.  5.  4.  5.  1.  1.  9.
  9.  9.  6. 10.  7.  5.  4.  3.  8.  8.  9.  7.  8.  7.  9.  8.  9.  6.
 10.  6.  3.  2.  2.  7.  3.  6.  4.  6.  8.  3.  1.  1.  9.  6.  4.  4.
  1.  1.  7.  8.  7.  4.  9.  3.  2.  8.  3. 10.  1.  2.  7.  9.  3.  3.
  5.  4.  3.  2.  5.  6. 10.  2. 10.  1.  9.  3.  6. 10.  9.  8.  9.  9.
  7.  2.  3.  9.  3.  4.  5.  7.  6.  4.  7.  2.  6.  2.  3.  8. 10.  8.
  7.  8.  5.  6.  7.  9.  5.  5.  1.  7.  8.  1. 10.  2.  3.  3.  5.  7.
  9.  6.  5.  4.  7.  8.  3.  3.  4.  5.  4.  3.  4.  8.  2.  8.  3.  3.
  2.  3.  8.  3.  5.  9.  6.  1.  8.  5.  4.  4.  8.  4.  9.  3.  1.  6.
  6.  6.  8.  8.  8.  2.  7.  3.  9.  3.  9.  9.  6.  4.  9.  2.  3.  2.
  3.  5.  9.  2.  8.  6.  2.  9.  5.  7.  9.  4.  3.  2.  5.  4.  3.  4.
  6.  2.  7.  4.  8.  6.  5.  5. 10.  2.  4.  3.  1.  7.  2. 10.  3. 10.
 10.  5.  2.  5.  6.  6.  1.  4.  4.  7.  7.  8.  8.  4.  3.  9.  4.  5.
  8. 10.  3.  2.  5.  2.  2.  4.  4.  6.  1.  2.  7.  8.  3.  6.  9.  7.
  4.  4.  8.  1.  6.  5.  8. 10.  5.  8.  7.  6.  8.  8.  7.  8.  6.  4.
  5.  9.  6.  4.  8.  1.  3.  9.  6.  5.  7.  8.  7.  4.  3.  6. 10.  9.
  7.  5.  4. 10.  2.  7.  5.  5.  6.  2.  6.  9.  6.  4.  1.  8.  7.  3.
  2.  4.  8.  7.  1.  5.  5. 10.  9.  7.  7. 10.  8.  9.  5.  8.  4.  1.
  1.  8.  8.  9.  3.  2.  2.  5.  3.  6.  5.  5.  4.  8.  2.  3.  1.  3.
  7.  6. 10.  6.  4.  4.  2.  6.  8.  7.  5.  5.  4.  8.  3.  4.  3.  3.
  2.  2.  6.  8.  7.  3.  7.  2. 10.  4.  4.  6. 10.  8.  7.  9.  9.  8.
  1.  9.  6.  8.  5.  6.  5.  4.  1.  9.  8.  2.  2. 10.  5.  2.  4.  9.
 10.  3.  4.  4.  2. 10.  6.  2.  8.  6.  7.  1.  7.  9.  2.  2.  7.  3.
  7.  6.  2.  5.  4.  5.  4.  8.  3.  1.  8.  7.  6.  3.  2.  9.  7.  7.
  4.  1.  9.  9.  2.  9.  5.  9.  8.  9.  6.  8. 10.  7.  5.  5. 10.  8.
  6.  8.  2.  5.  5.  7.  9. 10.  2.  9.  9.  2.  5.  7.  3.  7.  2.  6.
  9.  1.  9.  9.  3.  1.  7.  3.  7.  7.  9.  2.  6.  6. 10.  4.  9.  8.
  9.  6.]